asn1crypto==0.24.0
backports.functools-lru-cache==1.5
cryptography==2.1.4
cycler==0.10.0
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
matplotlib==2.2.3
nltk==3.4
numpy==1.16.0
pandas==0.23.4
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.3.1
Pyphen==0.9.5
python-dateutil==2.7.5
pytz==2018.9
pyxdg==0.25
repoze.lru==0.7
rethinkdb==2.3.0.post6
scikit-learn==0.20.2
scipy==1.2.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.3
textblob==0.15.2
textstat==0.5.4
thinker==1.1.1
